body {
    font-family: 'Lato', sans-serif;
    background-color: #262626;
}
#container {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
h1 {
    color: darkgoldenrod;
}
h2, .readme-wrapper, .img-wrapper {
    text-align: center;
}

img {
    width: 150px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    font-weight: bold;
    font-size: 1.5rem;
    color: deeppink;
}

span {
    font-weight: bold;
    color: goldenrod;
}

.boxes {
    width: 30em;
    border: 2px solid darkgray;
    border-radius: 20px;
    margin: 10px auto;
    padding: 20px;
    display: block;
    position: relative;

}

#box1 {
    background-color: #404040;
}

#box2 {
    background-color: #737373;

}

#box3 {
    background-color: #404040;
}

#box4 {
    background-color: #737373;

}
.link-size:hover img {
    width: 300px;
}